body {
    margin: 0;
    /* background-color: rgba(210, 210, 210, 0.2); */
    text-align: center;
    user-select: none;
}

.wrapper {
    width: 100%;
}

header {
    height: 330px;
    background: url(./../img/header.jpg);
    background-color: rgba(115, 115, 115, 0.6);
    background-blend-mode: lighten;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

header > p {
    margin: 0;
    line-height: 330px;
    color: white;
    font-family: "Arial unicode ms";
    font-size: 68px;
    font-weight: bold;
    letter-spacing: 4px;
}

ul {
    margin: 15px auto 0 auto;
    padding: 0;
}

li {
    display: inline-block;
    margin: 0 15px;
}

li > a {
    color:rgb(67, 57, 57);
    font-size: 25px;
    font-family: "Trebuchet MS";
    font-weight: bold;
    vertical-align: 10px;
    text-decoration: none;
}

li > img {
    width: 42px;
    height: 42px;
    margin: 0 13px 0 0;
}

li > a:hover {
    color: rgb(67, 57, 57, 0.4);
}

section {
    margin: 30px 0 0 0;
}

.profile, .skill,
.works, .contact {
    padding: 5px 0;
}

.profile > img, .skill > img,
.works > img, .contact > img {
    width: 55px;
    height: 55px;
    margin: 0 20px;
    vertical-align: top;
}

.profile-title, .skill-title, 
.works-title, .contact-title {
    display: inline-block;
    line-height: 1.5em;
    margin: 0;
    vertical-align: text-top;
    font-family: "Trebuchet MS";
    font-size: 35px;
    font-weight: bold;
    letter-spacing: 1px;
}

/* profile 開始 */

.photo {
    display:inline-block;
}

.photo > img {
    width: 150px;
    height: 150px;
    margin-bottom: 40px;
    padding: 15px;
    border-radius: 50%;
    display: table-cell;
    vertical-align: middle;
}

.text {
    display: inline-block;
    width: 450px;
    line-height: 1.8;
    margin: 5px 20px 0 20px;
    padding: 0 0 0 1em;
    font-size: 17px;
    text-align: left;
}

/* profile 終了*/

/* skill 開始 */

.skill-set > table {
    border-collapse: collapse;
    width: 550px;
    margin: 10px auto 0;
    font-size: 20px;
}

.skill-set thead th {
    height: 45px;
    padding: 0;
    background-color: rgb(156, 193, 220);
    font-size: 23px;
}

.skill-set th {
    width: 150px;
    height: 42px;
    padding: 4px 0;
}

.skill-set td {
    height: 42px;
    padding: 4px 8px;
}

.skill-set > table tr:nth-child(2) {
    border-top: 1px solid rgb(100, 126, 143);
}

.detail table {
    border-collapse: collapse;
    width: 550px;
    margin: 15px auto 0;
    font-size: 16px;
}

.detail thead th {
    background-color: rgb(156, 193, 220);
    font-size: 19px;
}

.detail th {
    width: 90px;
    height: 37px;
}

.detail td {
    height: 37px;
    padding: 2px 3px 6px 15px;
    font-size: 17px;
    text-align: left;
}

.detail > table tr:nth-child(4) {
    border-top: 1px solid rgb(100, 126, 143);
}

.detail > table tr:nth-child(7) {
    border-top: 1px solid rgb(100, 126, 143);
}

.detail > table tr:nth-child(10) {
    border-top: 1px solid rgb(100, 126, 143);
}

.detail > table tr:nth-child(12) {
    border-top: 1px solid rgb(100, 126, 143);
}

/*  skill 終了*/

/* works 開始 */

.airticle-caption {
    margin: 15px auto 0;
    padding-bottom: 23px;
    border-bottom: 2px solid rgba(170, 170, 170);
}

.caption-title {
    margin: 10px auto 0;
    font-family: "Trebuchet MS";
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 1px;
}

.box {
    display:flex;
    justify-content: center;
}

.work-img {
    display: inline-block;
    width: 250px;
    height: 250px;
    margin: 10px 23px 0 0;
    border: 1px solid rgb(227, 227, 227);
    border-radius: 5px;
}

.caption-img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.work-detail {
    display: inline-block;
    width: 400px;
    height: auto;
    margin: 0;
}

.url {
    margin: 0;
    padding-top: 5px;
    font-size: 19px;
}

.caption-url {
    /* display: inline-block; */
    display: block;
    padding: 5px 5px 0;
    line-height: 2;
    color: rgb(48, 24, 227);
    font-size: 17px;
    text-decoration: none;
}

.git-url {
    /* display: inline-block; */
    display: block;
    margin: 10px auto 0;
    padding: 4px 4px 8px;
    color:rgb(48, 24, 227);
    font-size: 20px;
    text-decoration: none;
}

.caption-content {
    display: table-cell;
    height: 70px;
    margin: 0 auto;
    padding: 5px 5px 5px 0.5em;
    border-top: 1px solid rgba(170, 170, 170, 0.3);
    vertical-align: middle;
    text-align: left;
}

.caption-word {
    margin: 0 auto;
    padding-top: 10px;
    border-top: 1px solid rgba(170, 170, 170, 0.3);
    font-size: 19px;
}

.use-word {
    margin: 10px auto 0;
    padding: 0 5px;
    font-size: 17px;
}

/* works 終了*/

/* contact 開始 */

.address {
    height: 215px;
    color: white;
    background-color: rgb(70, 70, 70);
}

.connection {
    margin: 0 auto;
    padding-top: 30px;
    font-size: 18px;
}

.email {
    width: 420px;
    height: 60px;
    margin: 40px auto 0;
    line-height: 60px;
    background-color: rgb(132, 132, 132);
    font-size: 30px;
    letter-spacing: 1px;
    user-select: all;
}

footer {
    height: 120px;
    padding-top: 15px;
    background-color: rgb(20, 67, 128);
}

footer li {
    margin: 0 23px;
}

footer li a {
    font-size: 17px;
    color: rgb(237, 237, 237);
    text-decoration: none;
    vertical-align: middle;
}

footer li a:hover {
    color: rgb(132, 132, 132);
}

.copyright {
    margin: 30px auto 0;
    font-size: 15px ;
    color: rgb(241, 241, 241);
}

/* contact 終了*/

/* スマートフォン向け CSS */
@media (max-width: 767px) {

    header {
        height: 250px;
    }

    header > p {
        padding: 0 auto;
        line-height: 250px;
        font-size: 50px;
        letter-spacing: 2.5px;
    }

    ul {
        margin-top: 10px;
    }

    li {
        margin: 0 7px;
    }
    
    li > a {
        font-size: 18px;
        vertical-align: 7px;
    }
    
    li > img {
        width: 30px;
        height: 30px;
        margin: 0 8px 0 0;
    }
    
    section {
        margin-top: 20px;
    }
    
    .profile, .skill,
    .works, .contact {
        padding: 3px 0;
    }
    
    .profile > img, .skill > img,
    .works > img, .contact > img {
        width: 47px;
        height: 47px;
        margin: 0 10px;
    }
    
    .profile-title, .skill-title, 
    .works-title, .contact-title {
        font-size: 27px;
    }

    /* profile 開始 */

    .photo {
        display: block;
    }

    .photo > img {
        display: block;
        width: 130px;
        height: 130px;
        margin: 0 auto;
        padding: 7px;
    }

    .text {
        display: block;
        width: 75%;
        line-height: 1.6;
        margin: 13px auto 0 auto;
        padding: 0 0 0 0.5em;
        font-size: 16px;
    }

    /* profile 終了*/

    /* skill 開始 */

    .skill-set > table {
        width: 350px;
        font-size: 17px;
    }
    
    .skill-set thead th {
        height: 40px;
        font-size: 20px;
    }
    
    .skill-set th {
        width: 95px;
        height: 36px;
        padding: 2px 2px 2px 0;
    }
    
    .skill-set td {
        height: 36px;
        padding: 2px 2px 2px 0;
    }
    
    .detail table {
        width: 350px;
        margin: 15px auto 0;
        font-size: 16px;
    }
    
    .detail thead th {
        height: 36px;
        padding: 0;
        font-size: 18px;
    }
    
    .detail th {
        width: 90px;
        height: 33px;
    }
    
    .detail td {
        height: 33px;
        padding: 2px 3px 4px 10px;
        font-size: 15px;
    }

    /* skill 終了*/

    /* works 開始 */

    .box {
        display: block;
        /* justify-content: center; */
    }

    .airticle-caption {
        display: block;
        margin-top: 10px;
    }

    .work-img {
        display: block;
        width: 250px;
        height: 200px;
        margin: 10px auto 0 ;
    }

    .caption-title {
        font-size: 20px;
        letter-spacing: 0.5px;
    }

    .work-detail {
        display: block;
        width: 350px;
        margin: 0 auto;
    }
    
    .url {
        margin-top: 5px;
        padding: 7px 0 5px;
    }
    
    .caption-url {
        padding: 2px;
        font-size: 14.5px;
    }
    
    .git-url {
        font-size: 18px;
    }
    
    .caption-content {
        padding: 3px;
    }
    
    .caption-word {
        padding-top: 7px;
    }
    
    .use-word {
        padding: 0 5px;
        font-size: 15px;
    }

    /* works 終了*/

    /* contact 開始 */

    .address {
        height: 160px;
        color: white;
        background-color: rgb(70, 70, 70);
    }
    
    .connection {
        padding: 20px 10px 0;
        font-size: 16px;
    }
    
    .email {
        width: 320px;
        height: 45px;
        margin-top: 25px;
        line-height: 45px;
        font-size: 22px;
        letter-spacing: 0.8px;
    }
    
    footer {
        height: 85px;
        padding-top: 15px;
    }

    footer ul {
       width: 315px;
       margin: 0 auto;
    }
    
    footer li {
        margin: 0 6px;
    }
    
    footer li a {
        font-size: 14px;
    }

    .copyright {
        margin-top: 17px;
        font-size: 12px ;
    }

}
    /* contact 終了*/

@media (max-width: 499px) {

    header > p {
        font-size: 35px;
        letter-spacing: 2px;
    }
    
    ul {
        width: 270px;
    }

    li {
        margin: 3px 5px;
    }

}   