body {
	width: 100%;
	margin: 0;
	/* background-color: rgba(210, 210, 210, 0.5); */
	text-align: center;
	user-select: none;
}
/* 
.wrapper {
	max-width: 960px;
	margin: 0;
	background-color: rgba(210, 210, 210, 0.5);
	text-align: center;
	user-select: none;
} */

header {
    /* width: 100%; */
    height: 400px;
	background: url(./../img/header.jpg);
	background-color: rgba(145, 145, 145, 0.5);
    background-blend-mode: lighten;
	background-repeat: no-repeat;
    background-position: center;
	background-size: cover;
}

header > p {
	margin: 0;
	line-height: 400px;
    color: rgb(255, 255, 255);
	font-size: 65px;
    font-weight: bold;
	letter-spacing: 2px;
}

ul {
	margin: 15px auto 0 auto;
	padding: 0;
}

li {
	display: inline-block;
	margin: 0 15px;
}

li > a {
    color:rgb(67, 57, 57);
    font-size: 25px;
	font-weight: bold;
    vertical-align: 10px;
    text-decoration: none;
}

li > img {
	width: 42px;
	height: 42px;
	margin: 0 13px 0 0;
}

li > a:hover {
    color: rgb(67, 57, 57, 0.4);
}

section {
	margin: 30px 0 0 0;
}

.profile, .skill,
.works, .contact {
	padding: 5px 0;
}

.profile > img, .skill > img,
.works > img, .contact > img {
	width: 55px;
	height: 55px;
    margin: 0 20px;
}

.profile-title, .skill-title, 
.works-title, .contact-title {
	display: inline-block;
    line-height: 1.5em;
	margin: 0;
	vertical-align: 10px;
	font-size: 35px;
    font-weight: bold;
    letter-spacing: 1px;
}

/* profile 開始 */

.photo {
	display:inline-block;
}

.photo > img {
	width: 150px;
	height: 150px;
    margin-bottom: 40px;
	padding: 15px;
	border-radius: 50%;
	display: table-cell;
	vertical-align: middle;
}

.text {
	display: inline-block;
	width: 450px;
	line-height: 1.8;
	margin: 25px 20px 0 20px;
	padding: 0 0 0 1em;
	font-size: 17px;
	text-align: left;
}

/* profile 終了*/

/* skill 開始 */

/* .skill-set {
	margin: 15px auto 0;
} */

.skill-set > table {
	width: 500px;
	height: 100px;
	margin: 10px auto 0;
	font-size: 18px;
	text-align: center;
}

.skill-set thead {
	height: 50px;
	font-size: 23px;
	background-color: blue;
}


/* .skill-set th {
	font-size: 20px;
} */

.skill-set td {
	font-size: 20px;
}

/* .skill-set > table td {
	font-size: 20px;
	color: red;
} */

/* .skill-text {
	width: 500px;
	margin: 10px auto 0;
	padding: 6px;
	font-size: 15px;
	text-align: left;
}

.skill-sheet {
	display: inline-block;
	width: 350px;
	height: 350px;
	margin: 25px 10px 0;
	border: 1px solid rgb(192, 183, 183);
    border-radius: 5px;
	background-color: rgb(240, 240, 240);
}

.sheet-title {
	margin: 10px auto 0;
	font-size: 22px;
	font-weight: bold;
}

table {
	width: auto;
    height: 300px;
    margin: 5px auto 0;
}

th {
	height: 32px;
	padding: 2px;
	font-size: 21px;
}

td {
	width: 140px;
	height: auto;
	padding: 3px 5px 0 0;
	font-size: 16px;
}

table td:nth-child(2) {
	font-size: 18px;
}

.star5_rating {
	position: relative;
    z-index: 0;
    display: inline-block;
    white-space: nowrap;
    color: rgb(188, 188, 188);
}

.star5_rating:before,.star5_rating:after{
    content: '★★★★★';
}

.star5_rating:after{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    overflow: hidden;
    white-space: nowrap;
    color: rgb(250, 215, 30);
}

.star5_rating[data-rate="5"]:after{ width: 100%; } 
.star5_rating[data-rate="4.5"]:after{ width: 90%; } 
.star5_rating[data-rate="4"]:after{ width: 80%; } 
.star5_rating[data-rate="3.5"]:after{ width: 70%; } 
.star5_rating[data-rate="3"]:after{ width: 60%; } 
.star5_rating[data-rate="2.5"]:after{ width: 50%; }
.star5_rating[data-rate="2"]:after{ width: 40%; } 
.star5_rating[data-rate="1.5"]:after{ width: 30%; }
.star5_rating[data-rate="1"]:after{ width: 20%; } 
.star5_rating[data-rate="0.5"]:after{ width: 10%; } 
.star5_rating[data-rate="0"]:after{ width: 0%; } */

/*  skill 終了*/

/* works 開始 */

.airticle-caption {
	display: inline-block;
	width: 345px;
	height: auto;
	/* height: 570px; */
	margin: 15px 10px 0 10px;
	border: 2px solid rgba(170, 170, 170);
	border-radius: 5px;
}

.caption-title {
	margin: 10px auto 0;
	font-size: 22px;
	font-weight: bold;
	letter-spacing: 1px;
}

.caption-img {
	display: block;
	width: 85%;
	height: 230px;
	margin: 10px auto 0;
	border-radius: 5px;
}

.url {
	margin: 10px auto 0;
	padding: 3px;
	border-top: 1px solid rgba(170, 170, 170, 0.3);
	font-size: 19px;
}

.caption-url {
	padding: 3px;
	color: rgb(48, 24, 227);
	font-size: 14.5px;
	text-decoration: none;
}

.git-url {
	display: block;
	margin: 10px auto 0;
	padding: 4px 4px 8px;
	color:rgb(48, 24, 227);
	font-size: 20px;
	text-decoration: none;
}

.caption-content {
	height: 70px;
	margin: 0 auto;
	padding: 3px 3px 3px 0.5em;
	border-top: 1px solid rgba(170, 170, 170, 0.3);
	text-align: left;
}

.caption-word {
	margin: 0 auto;
	padding-top: 10px;
	border-top: 1px solid rgba(170, 170, 170, 0.3);
	font-size: 19px;
}

.use-word {
	margin: 0 auto 10px;
	padding: 4px 6px;
	font-size: 15px;
}

/* works 終了*/

/* contact 開始 */

.address {
	height: 215px;
	color: white;
	background-color: rgb(70, 70, 70);
}

.connection {
	margin: 0 auto;
	padding-top: 30px;
	font-size: 18px;
}

.email {
	width: 450px;
	height: 60px;
	margin: 40px auto 0;
	padding: 0 10px;
	line-height: 60px;
	background-color: rgb(132, 132, 132);
	font-size: 30px;
	letter-spacing: 1.5px;
	user-select: all;
}

footer {
	height: 135px;
	padding-top: 20px;
	background-color: rgb(20, 67, 128);
}

.footer-link ul {
	margin: 0;
}

.footer-link li {
	margin: 0;
	margin: 0 20px;
	/* padding: 0 20px; */
	/* font-size: 10px; */
}

.footer-link li a {
	font-size: 15px;
	color: rgb(241, 241, 241);
	/* color: red; */
	text-decoration: none;
	vertical-align: middle;
}

.footer-link li a:hover {
    color: rgb(177, 177, 177);
}

.copyright {
	margin: 30px auto 0;
	font-size: 15px ;
	color: rgb(241, 241, 241);
}

/* contact 終了*/

/* スマートフォン向け CSS */
@media (max-width: 767px) {

	header {
		height: 300px;
	}

	header > p {
		padding: 115px 5px 0;
		line-height: 1.2;
		font-size: 40px;
		letter-spacing: 0.5px;
	}

	ul {
		margin-top: 10px;
	}

	li {
		margin: 0 7px;
	}

	/* ul > li:nth-child(3) {
		display: block;
		background-color:red;
	} */

	/* ul > li:nth-child(4) {
		display:inline-block;
		display:flex;
		background-color:red;
		justify-content: left;
	} */
	
	li > a {
		font-size: 18px;
		vertical-align: 7px;
	}
	
	li > img {
		width: 30px;
		height: 30px;
		margin: 0 8px 0 0;
	}
	
	section {
		margin-top: 20px;
	}
	
	.profile, .skill,
	.works, .contact {
		padding: 3px 0;
	}
	
	.profile > img, .skill > img,
	.works > img, .contact > img {
		width: 47px;
		height: 47px;
		margin: 0 10px;
	}
	
	.profile-title, .skill-title, 
	.works-title, .contact-title {
		vertical-align: 10px;
		font-size: 27px;
	}

	/* profile 開始 */

	.photo {
		display: block;
	}

	.photo > img {
		display: block;
		width: 130px;
		height: 130px;
		margin: 0 auto;
		padding: 7px;
	}

	.text {
		display: block;
		width: 75%;
		line-height: 1.6;
		margin: 13px auto 0 auto;
		padding: 0 0 0 0.5em;
		font-size: 16px;
	}

	/* profile 終了*/

	/* skill 開始 */

	.skill-text {
		width: 75%;
		margin-top: 6px;
		padding: 3px;
	}

	.skill-sheet {
		display: block;
		width: 300px;
		margin: 17px auto 0;
	}

	.sheet-title {
		font-size: 20px;
	}

	th {
		font-size: 19px;
	}

	td {
		width: 120px;
		padding: 3px 5px;
	}

	/* skill 終了*/

	/* works 開始 */

	.airticle-caption {
		display: block;
		margin: 10px auto 0 auto;
	}

	.caption-title {
		font-size: 20px;
		letter-spacing: 0.5px;
	}
	
	.caption-img {
		width: 90%;
		height: 200px;
	}
	
	.url {
		margin: 15px auto 0;
		padding: 7px 0 5px;
	}
	
	.caption-url {
		padding: 2px;
	}
	
	.git-url {
		font-size: 18px;
	}
	
	.caption-content {
		padding: 5px;
	}
	
	.caption-word {
		padding-top: 10px;
	}
	
	.use-word {
		padding: 4px 6px;
		font-size: 15px;
	}

	/* works 終了*/

	/* contact 開始 */

	.address {
		width: 100%;
		height: 170px;
		color: white;
		background-color: rgb(70, 70, 70);
	}
	
	.connection {
		padding: 20px 10px 0;
	}
	
	.email {
		/* width: 85%; */
		width: 350px;
		height: 55px;
		margin-top: 25px;
		padding: 0 5px;
		line-height: 55px;
		font-size: 25px;
		letter-spacing: 0.5px;
	}
	
	footer {
		height: 90px;
		padding-top: 13px;
	}
	
	.footer-link ul {
		margin: 0;
	}
	
	.footer-link li {
		margin: 0;
		margin: 0 20px;
	}
	
	.footer-link li a {
		font-size: 12px;
	}

	.copyright {
		margin-top: 20px;
		font-size: 12px ;
	}

	/* contact 終了*/
	}

	@media (max-width: 499px) {
	
	ul {
		width: 270px;
	}

	li {
		margin: 3px 5px;
	}

	/* li {
		display: block;
		display: inline-block;
		margin: 0 15px;
		margin: 20px 5px 0 5px;
	} */
	
	}