body {
	text-align: center;
	margin: 0;
	/* background-color: rgba(210, 210, 210, 0.5); */
	user-select: none;
}

.header {
	width: 100%;
    height: 400px;
    /* position: fixed; */
    top: 0;
    left: 0;
    right: 0;
	background: url(./../img/header.jpg);
	background-color:rgba(255, 255, 255, 0.65);
    background-blend-mode: lighten;
	background-repeat: no-repeat;
    background-position: center;
	background-size: cover;
	/* object-fit: cover; */
}

h1 {
	margin: 0;
}

header > p {
	margin: 0;
}

/* nav {
	margin: 20px 0 0 0;
} */

ul {
	margin: 20px 0 0 0;
	padding: 0;
} 

li {
	display: inline;
	padding: 0 15px;
	font-size: 25px;
	font-weight: bold;
}

li > img {
	width: 40px;
	height: 40px;
	padding: 0 15px 0 0;
	border: 0;
}

.profile {
	text-decoration: none;
}

.skill {
	text-decoration: none;
}

.works {
	text-decoration: none;
}

.contact {
	text-decoration: none;
}

.section {
	margin: 20px 0 0 0;
}

/* メイン profile */
.main-profile {
	padding: 2px;
}

.main-profile > img {
	width: 30px;
	height: 30px;
	border: 0;
}

.profile-title {
	display: inline-block;
	margin: 0;
	/* vertical-align: middle; */
	font-size: 30px;
}

.photo {
	display:inline-block;
	width: 180px;
	height: 180px;
	margin: 10px 10px 0 0;
}

.photo > img {
	width: 150px;
	height: 150px;
	padding: 15px;
	border-radius: 50%;
}

.text {
	display: inline-block;
	width: 450px;
	line-height: 1.8;
	margin: 0 auto;
	padding: 5px 5px 5px 1em;
	font-size: 16px;
	text-align: left;
	/* text-indent: 16px; */
}
/* メイン profile 終了*/

/* メイン skill */

.main-skill {
	padding: 2px;
}

.main-skill > img {
	width: 30px;
	height: 30px;
}

.skill-title {
	display: inline-block;
	margin: 0;
	font-size: 30px;
}

.skill-sheet {
	width: 500px;
	height: auto;
	margin: 15px auto 0;
	border: 1px solid rgb(192, 183, 183);
    border-radius: 5px;
	background-color: rgb(240, 240, 240);
}

/* background-color: rgba(210, 210, 210, 0.5); */

.sheet-title {
	margin: 10px auto 0;
	font-size: 22px;
	font-weight: bold;
}

table {
    height: auto;
    margin: 10px auto 0;
    font-size: 20px;
    /* text-align: center; */
}

table {
	width: 350px;
	margin: 10px auto 0;
}

th {
	padding: 2px;
	font-size: 20px;
}

td {
	width: 175px;
	height: 35px;
	padding: 2px;
	font-size: 20px;
}

.sheet-content {
	margin: 10px auto;
	font-size: 20px;
}

.skill-content {
	margin: 0;
	font-size: 30px;
}

.star5_rating {
	position: relative;
    z-index: 0;
    display: inline-block;
    white-space: nowrap;
    color: rgb(170, 170, 170);
}

.star5_rating:before,.star5_rating:after{
    content: '★★★★★';
}

.star5_rating:after{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    overflow: hidden;
    white-space: nowrap;
    color: rgb(250, 215, 30);
}

.star5_rating[data-rate="5"]:after{ width: 100%; } 
.star5_rating[data-rate="4.5"]:after{ width: 90%; } 
.star5_rating[data-rate="4"]:after{ width: 80%; } 
.star5_rating[data-rate="3.5"]:after{ width: 70%; } 
.star5_rating[data-rate="3"]:after{ width: 60%; } 
.star5_rating[data-rate="2.5"]:after{ width: 50%; }
.star5_rating[data-rate="2"]:after{ width: 40%; } 
.star5_rating[data-rate="1.5"]:after{ width: 30%; }
.star5_rating[data-rate="1"]:after{ width: 20%; } 
.star5_rating[data-rate="0.5"]:after{ width: 10%; } 
.star5_rating[data-rate="0"]:after{ width: 0%; }

/* メイン skill 終了*/

/* メイン works */

.main-works {
	padding: 2px;
}

.main-works > img {
	width: 30px;
	height: 30px;
}

.works-title {
	display: inline-block;
	margin: 0;
	font-size: 30px;
}

.airticle-caption {
	display: inline-block;
	width: 45%;
	margin: 15px 10px 0 10px;
	border: 1px solid rgba(170, 170, 170);
	border-radius: 5px;
	background-color:rgba(214, 213, 213, 0.3);
}

.caption-img {
	display: block;
	width: 85%;
	height: 230px;
	margin: 10px auto 0;
	border-radius: 5px;
}

.caption-title {
	margin: 10px auto 0;
	font-size: 20px;
	font-weight: bold;
}

.sub-title {
	margin: 10px auto 0;
	padding: 3px;
	border-top: 1px solid rgba(170, 170, 170, 0.3);
	font-size: 19px;
}

.caption-url {
	padding: 3px;
	font-size: 15px;
}

.caption-content {
	margin: 15px 7px 0;
	padding: 3px;
	border-top: 1px solid rgba(170, 170, 170, 0.3);
	text-align: left;
}

.caption-word {
	margin: 10px auto 0;
	padding-top: 5px;
	border-top: 1px solid rgba(170, 170, 170, 0.3);
	font-size: 19px;
}

.use-word {
	margin: 10px auto;
	padding: 4px;
	font-size: 15px;
	/* word-wrap : break-word;
    overflow-wrap : break-word; */
}

/* メイン works 終了*/

/* メイン contact */

.main-contact {
	padding: 2px;
}

.main-contact > img {
	width: 30px;
	height: 30px;
}

.contact-title {
	display: inline-block;
	margin: 0;
	font-size: 30px;
}

.address {
	height: 100px;
	/* background-color: rgb(123, 120, 120); */
}

.connection {
	margin: 10px 0 0;
	font-size: 18px;
}

.email {
	margin: 10px 0 0;
	/* border: 2px solid black; */
    /* border-radius: 5px; */
	/* color: white;
	background-color: rgb(123, 120, 120); */
	font-size: 25px;
}

.footer {
	height: 70px;
	padding: 20px;
	color: azure;
	background-color: rgb(20, 67, 128);
}

footer > nav {
	margin: 0;
}

.footer-link ul {
	margin: 0;
	
}

.footer-link li {
	margin: 0;
	padding: 0 20px;
	font-size: 15px;
}

.footer-link li a {
	color: azure;
	text-decoration: none;
}

.copyright {
	margin: 15px 0 0;
}

/* メイン contact 終了*/

/* スマートフォン向け CSS */
@media (max-width: 767px) {

}